<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
{include file="public/_header" /}
{include file="public/_left" /}
{include file="public/_footer"}
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="/" class="maincolor">首页</a>
        <span class="c-999 en">&gt;</span>
        <span class="c-666">我的桌面</span>
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">
        {block name="right"}
        {/block}
    </div>
</section>

</body>
</html>
