{extend name="layout" /}
{block name="right"}
<article class="cl pd-20">
    <form action="/admin/art/{$data.id}" method="post" class="form form-horizontal" id="form-member-add">
<!--        请求头的伪装-->
        <input type="hidden" name="_method" value="PUT">
        {:token()}
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">栏目：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="cates_id" class="select">
                    {foreach $cdata as $val}
					<option value="{$val.id}" {if $val.id == $data.cates_id} selected {/if} >{$val.cate_name}</option>
                    {/foreach}
				</select>
				</span></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$data.title}" placeholder="" id="username" name="title">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">描述：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$data.desn}" placeholder="" name="desn">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">内容：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="body" cols="" rows="" class="textarea" placeholder="说点什么...最少输入10个字符"
                          onKeyUp="textarealength(this,100)">{$data.body}</textarea>
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="修改文章">
            </div>
        </div>
    </form>
</article>
{/block}
